{% extends 'index.html' %}

{% block content %}

    <div class="login-div">
        <h1 class="form-title">Login</h1>

        {{ msg }}

        <form action="{{ url_for('login') }}"  method="POST" class="login-form">
            <label for="username">Name</label>
            <input type="text" placeholder="Rahul Kumar S" id="username" name="name" required />
            
            <label for="password">Password</label>
            <input type="password" placeholder="********" id="password" name="password" required />

            <button type="submit">Login</button>
        </form>

    </div>

{% endblock %}